.products__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

.products__item {
  width: 235px;
  height: 300px;
  background-color: #f5f4fa;
  padding: 15px;
  border-radius: 15px;
}

.products__item:last-child .products__img {
  max-width: 140px;
  height: 90px;
  margin-top: 15px;
}

.products__img {
  display: block;
  max-width: 100px;
  mix-blend-mode: darken;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.products__title {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-top: 50px;
}

.products__text {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.products__price {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

li {
    width: 100px;
    height: 100px;
} */
