<ul class="products__list">
  {{#each items}}
    <li class="products__item">
      <img src="{{image}}" alt="appleProduct" class="products__img"/>
      <h2 class="products__title">{{name}}</h2>
      <p class="products__text">{{type}}</p>
      <p class="products__price">{{price}}$</p>
    </li>
  {{/each}}
</ul>